.navigation{
  padding: 0 8px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navigation ul{
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}

.logo img{
  height: 60px;
  width: 60px;
  border: none;
}